@model ICollection<asp.netDay2.Models.Department>
@* @{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_mylayout.cshtml";
} *@
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-M3PWQaY2QFIhwuzE7VW3K1dyA0C1coQemlJD1qDzWIxmg4zFMEu50eU/HiPzGmG4" crossorigin="anonymous">
</head>

<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                DeptID
            </th>
            <th>
                DeptName
            </th>
            <th>
                DeptDesc
            </th>
            <th>
                DeptLocation
            </th>            
            <th>
                ManagerHiredate
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var dept in Model)
        {
            <tr>
                <td>
                    @dept.DeptId
                </td>
                <td>
                    @dept.DeptName
                </td>
                <td>
                    @dept.DeptDesc
                </td>
                <td>
                    @dept.DeptLocation
                </td>               
                <td>
                    @dept.ManagerHiredate
                </td>
                <td>
                    <form asp-controller="department" asp-action="details" asp-route-id="@dept.DeptId" method="post">
                        <button  class="btn btn-info">details</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="department" asp-action="edit" asp-route-id="@dept.DeptId" method="get">
                        <button  class="btn btn-primary">Edit</button>
                    </form>
                </td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                data-department-id="@dept.DeptId">
                            Delete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirm Deletion</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this department?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                        <form id="deleteForm" asp-controller="Department" asp-action="Delete" method="post">
                                            <!-- Hidden field to hold the department ID -->
                                            <input type="hidden" name="id" id="modalDepartmentId">
                                            <button type="submit" class="btn btn-primary">Yes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <script>
                        // JavaScript to set the department ID in the modal form when the delete button is clicked
                        document.addEventListener('DOMContentLoaded', function () {
                            var deleteButtons = document.querySelectorAll('[data-bs-toggle="modal"]');
                            deleteButtons.forEach(function (button) {
                                button.addEventListener('click', function () {
                                    var departmentId = this.getAttribute('data-department-id');
                                    document.getElementById('modalDepartmentId').value = departmentId;
                                });
                            });
                        });
                    </script>
            </tr>
        }

    </tbody>
    
</table>
    <form action="/department/create" method="post">
        <button class="btn btn-outline-primary btn-rounded" data-mdb-ripple-init data-mdb-ripple-color="dark">Create New Department</button>
    </form>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgvVh5lB7Cji8gk54A1hohzTYfJr8Hd50Tvf6Ezri0fxYSl0pGr" crossorigin="anonymous"></script>