@model asp.netDay2.Models.Course

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Topic</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-image:url('https://wallpapercave.com/wp/wp6684577.jpg');
   background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <h3 class="text-center" style="color:azure;">Create new Course</h3>
                <hr style="color:aliceblue" />
                <form class="px-md-2" asp-controller="course" asp-action="save" method="post">

                    <div data-mdb-input-init class="form-outline mb-4">
                        @Html.LabelFor(n => n.CrsId, new { @class = "form-label", style = "color: white;" })
                        @Html.TextBoxFor(n => n.CrsId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(n => n.CrsId, "", new { @class = "text-danger" })
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                        @Html.LabelFor(n => n.CrsName, new { @class = "form-label", style = "color: white;" })
                        @Html.TextBoxFor(n => n.CrsName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(n => n.CrsName, "", new { @class = "text-danger" })
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                        @Html.LabelFor(n => n.CrsDuration, new { @class = "form-label", style = "color: white;" })
                        @Html.TextBoxFor(n => n.CrsDuration, new { @class = "form-control" })
                        @Html.ValidationMessageFor(n => n.CrsDuration, "", new { @class = "text-danger" })
                    </div>
                    <div data-mdb-input-init class="form-outline mb-4">
                        @Html.LabelFor(n => n.TopId, new { @class = "form-label", style = "color: white;" })
                        @Html.TextBoxFor(n => n.TopId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(n => n.TopId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group text-center mt-4">
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </div>
                </form>
                <div class="text-center mt-3">
                    <a asp-action="Index" style="color:azure;font-size:large ;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Back to List</a>
                </div>
            </div>
        </div>
    </div>
 
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>